.word-split-wrapper {
    display: inline-block;
    text-transform: uppercase;
    width: auto;
}

.word-split-wrapper > h2 {
    transition: all 0.3s ease;
}

.word-split-wrapper:hover h2:not(:hover) {
    opacity: 0.5;
}

.HoverSplit .letter {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}